[gui]
	recentrepo = D:/123040234 RKPPL
	recentrepo = D:/133040223
	recentrepo = C:/Users/SB-604-18/PSBK133040312
	recentrepo = C:/Users/SB-604-18/git/SpringExample
	recentrepo = D:/123040234 RKPPL/testMaven
[user]
	email = rijalulfahmillah@gmail.com
